<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="AccountStorageImpl" value="Core Core.SqlServerAccountStorage"/>
        <add key="MessageStorageImpl" value="Core Core.SqlServerMessageStorage"/>
        <add key="OrganizationStorageImpl" value="Core Core.SqlServerOrganizationStorage"/>
        <add key="AttachmentImpl" value="Core Core.SqlServerAttachmentStorage"/>
        <add key="FileRoot" value="Files"/>
        <add key="ResPath" value="CurrentVersion"/>
        <add key="DefaultPage" value="~/Lesktop/Default.aspx"/>
        <!--浮动窗口显示默认时长-->
        <add key="FloatWindowShowTime" value="28800000"/>
        <!--讨论组自动创建人数上限-->
        <add key="TempGroupAutoGreateUserCount" value="200"/>
        <add key="GroupMembersAddDeleteIsReminded" value="1"/>
    </appSettings>
    <system.web>
        <httpHandlers>
            <add path="response.aspx" verb="*" type="Core.ReceiveResponsesHandler"/>
            <add path="command.aspx" verb="*" type="Core.SendCommandHandler"/>
            <add path="download.aspx" verb="*" type="Core.Web.DownloadHandler"/>
            <add path="sendfile.aspx" verb="*" type="Core.Web.SendFileHandler"/>
            <add path="Config.js.aspx" verb="*" type="Core.Web.DownloadJsHandler"/>
            <add path="Embed.js.aspx" verb="*" type="Core.Web.DownloadJsHandler"/>
            <add path="headimg.aspx" verb="*" type="Core.Web.DownloadHandler"/>
        </httpHandlers>
        <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <handlers>
            <add name="ReceiveResponses" path="response.aspx" verb="*" type="Core.ReceiveResponsesHandler" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" />
            <add name="SendCommand" path="command.aspx" verb="*" type="Core.SendCommandHandler" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" />
            <add name="Download" path="download.aspx" verb="*" type="Core.Web.DownloadHandler" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" />
            <add name="SendFile" path="sendfile.aspx" verb="*" type="Core.Web.SendFileHandler" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" />
            <add name="DownloadJs" path="Config.js.aspx" verb="*" type="Core.Web.DownloadJsHandler" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" />
            <add name="Embed.js" path="Embed.js.aspx" verb="*" type="Core.Web.DownloadJsHandler" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" />
            <add name="headimg.aspx" path="headimg.aspx" verb="*" type="Core.Web.DownloadHandler" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" />
        </handlers>
    </system.webServer>
</configuration>
