<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="magicAjax" type="MagicAjax.Configuration.MagicAjaxSectionHandler, MagicAjax" />
	</configSections>
	<appSettings>
		<add key="WebDAL" value="WC.DAL" />
	</appSettings>
	<system.web>
		<machineKey validationKey="8AF1A127BC0532250D0320A7B51FA692BC02AFE1" decryptionKey="510450CB36318B341C926B506C91DEDF9B51211A1C2A7A71" decryption="3DES" validation="SHA1" />
		<pages validateRequest="false" />
		<httpRuntime maxRequestLength="113960" executionTimeout="675" />
		<httpModules>
			<add name="MagicAjaxModule" type="MagicAjax.MagicAjaxModule, MagicAjax" />
		</httpModules>
		<customErrors mode="Off" />
		<compilation debug="true" />
		<globalization requestEncoding="utf-8" responseEncoding="utf-8" />
	</system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="default.aspx" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>
